{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Άρθρα για τον Αυτισμό</h2>

    <!-- Dropdown για Topic -->
    <form method="GET" action="{{ url_for('topic_articles_redirect') }}">
      <div class="form-group">
        <label for="topicSelect">Φιλτράρισμα ανά θέμα:</label>
        <select id="topicSelect" name="topic_name" class="form-control" onchange="this.form.submit()">
          <option value="">-- Όλα τα θέματα --</option>
          {% for topic in topics %}
            <option value="{{ topic.name }}">{{ topic.name }}</option>
          {% endfor %}
        </select>
      </div>
    </form>

    <!-- Λίστα Άρθρων -->
    {% for article in articles %}
      <div class="row my-3 p-3 bg-body rounded shadow-sm">
          <div class="col col-md-12">
            {% if article.article_image %}
              <img src="{{ url_for('static', filename='images/articles_images/'+article.article_image) }}" alt=""
                   class="img-responsive a_image" width="640px" height="360px">
            {% endif %}
          </div>
          <div class="col col-md-12">
            <div class="main-article-title">
              <a class="article_title" href="{{ url_for('full_article',article_id=article.id) }}">{{ article.article_title | safe }}</a>
            </div>
          <small class="article_date">[{{ article.date_created.strftime('%d-%m-%Y') }}]</small>
          <p class="card-text">{{ article.article_body[:250] |safe }}...</p>
          <a href="{{ url_for('full_article', article_id=article.id) }}" class="btn btn-primary">Διαβάστε περισσότερα</a>
        </div>
        <div class="card-footer text-muted">
          Από {{ article.author.username }}
          {% if article.topic %}
            | Θέμα: <strong>{{ article.topic.name }}</strong>
          {% endif %}
        </div>
      </div>
    {% else %}
      <p>Δεν υπάρχουν άρθρα προς το παρόν.</p>
    {% endfor %}
  </div>
{% endblock %}